
#menu {
    position: absolute;
    width: 20%;
    height: 100%;
    background-color: #F0FCED;
    padding-left: 1%;
    padding-top: 1%;
}

#content {
    position: absolute;
    margin-left: 21%;
    background: #F0FCED;
    width: 78%;
    height: 100%;
}

/* TITLE_BEGIN */
.title_view {
    margin-left: 10px;
    padding: 5px 10px 5px 0;
    font-size: 1.1em;
}

.main_title_text {
    position: absolute;
    margin-top: 30%;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    font-size: 90px;
    font-family: cursive;
    font-weight: bolder;
    text-shadow: 17px 10px 6px rgba(126, 133, 73, 0.55);
}

/* TITLE_END */

/* a DEFAULT_BUTTON_BEGIN */
a {
    display: inline-block;
    outline: none;
    cursor: pointer;
    color: #333;
    text-align: center;
    text-decoration: none;
    font: 14px/100% Arial, Helvetica, sans-serif;
    padding: .5em 2em .55em;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
    border-radius: .5em;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .8);
    background-color: skyblue;
    margin: 3px;
    min-width: 7%;
}

a:hover {
    text-decoration: none;
    background-color: #a7aeab;
}

a:active {
    text-decoration: none;
}

/* a DEFAULT_BUTTON_BEGIN */

/* TABLE_BEGIN */
.tabl {
    border-collapse: collapse;
    width: 100%;
}

.header {
    background-color: dodgerblue;
    border: 1px solid black;
}

/* TABLE_ROW_BEGIN */
.tabl tr :default {
    border: 1px solid black;
    padding: 3px;
    font-size: 18px;
}

.tab_row_odd {
    background-color: #c3dde0;
}

.tab_row_even {
    background-color: #d4f0b0;
}

.tab_row_even:hover, .tab_row_odd:hover {
    background-color: #c3ade0;
}

.tab_row_odd td, .tab_row_even td {
    border: 1px solid black;
}

.tabl tr form {
    text-align: center;
}

/* TABLE_ROW_END */

/* TABLE_COL_BEGIN */
.tabl td:default {

}

.col_name {
    overflow: hidden;
    overflow-y: visible;
    overflow-x: visible;
    width: 20%;
    max-width: 250px;
}

.col_fiction {
    width: 100%;
}

.col_second {
    overflow: hidden;
    overflow-y: visible;
    overflow-x: hidden;
    width: 20%;
    max-width: 250px;
}

.col_edit {
    width: 10%;
}

.col_delete {
    width: 10%;
}

/* TABLE_COL_END */

/* TABLE_END*/

/* MENU_DIV_BEGIN */
.menu_div ul {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #333;
    list-style: none;
    text-indent: 15px;
    font-weight: bold;
}

.menu_div ul li {
    line-height: 28px;
}

.menu_div ul li a {
    text-decoration: none;
    color: #333;
    display: block;
}

.menu_div ul li a:hover {
    background: #d4f0b0;
}

.menu_div ul li:active {
    background: #d4f0b0;
}

/* MENU_DIV_END */

/* DETAIL_PNG_BEGIN */
.form_details {
    width: 60%;
    max-width: 90%;
    margin-left: 5%;
    margin-top: 10%;
    margin-right: 5%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 10px;
    border: 7px solid transparent;
    border-radius: 10px;
    color: #444;
    box-shadow: 0 0 20px 0 #000000;
}

.form_details input:default {
    width: 0;
}

.png_details {

}

.png_details input, textarea, select {
    width: 100%;
}

.pngCol_lable {
    width: 30%;
    padding-right: 10px;
}

.pngCol_input {
    width: 39%;
}

.pngCol_errors {
    width: 10px;
    padding-left: 10px;
    max-width: 30%;
}

/* DETAIL_PNG_END */













