<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:composite="http://xmlns.jcp.org/jsf/composite"
        >
    <composite:interface>
        <composite:attribute name="organization" type="transmanager.entities.Organization"/>
    </composite:interface>

    <composite:implementation>
        <h:panelGrid columns="3"
                     styleClass="png_details"
                     columnClasses="pngCol_lable, pngCol_input, pngCol_errors"
                >
            <label>#{titles['entity.organization.name']}: </label>
            <h:inputText id="orgName" value="#{cc.attrs.organization.name}"/>
            <h:message for="orgName"/>

            <label>#{titles['entity.organization.phoneNumber']} </label>
            <h:inputText id="orgPhoneNumber" value="#{cc.attrs.organization.phoneNumber}"/>
            <h:message for="orgPhoneNumber"/>

            <label>#{titles['entity.organization.director']} </label>
            <h:inputText id="orgDirector" value="#{cc.attrs.organization.director}"/>
            <h:message for="orgDirector"/>

            <label>#{titles['entity.organization.contactName']} </label>
            <h:inputText id="orgContactName" value="#{cc.attrs.organization.contactName}"/>
            <h:message for="orgContactName"/>

            <label>#{titles['entity.organization.juridAddress']} </label>
            <h:inputText id="orgJuridAddress"
                         value="#{cc.attrs.organization.juridAddress.fullAddress}"/>
            <h:message for="orgJuridAddress"/>

            <label>#{titles['entity.organization.postalAddress']} </label>
            <h:inputText id="orgPostalAddress"
                         value="#{cc.attrs.organization.postalAddress.fullAddress}"/>
            <h:message for="orgPostalAddress"/>

            <label>#{titles['entity.organization.email']} </label>
            <h:inputText id="orgPhoneEmail" value="#{cc.attrs.organization.email}"/>
            <h:message for="orgPhoneEmail"/>

            <label>#{titles['entity.organization.webSite']} </label>
            <h:inputText id="orgWebSite" value="#{cc.attrs.organization.webSite}"/>
            <h:message for="orgWebSite"/>

            <label>#{titles['entity.organization.bankinfo.name']} </label>
            <h:inputText id="orgBankInfoName" value="#{cc.attrs.organization.bankinfo.name}"/>
            <h:message for="orgBankInfoName"/>

            <label>#{titles['entity.organization.bankinfo.rs']} </label>
            <h:inputText id="orgBankInfoRs" value="#{cc.attrs.organization.bankinfo.rs}"/>
            <h:message for="orgBankInfoRs"/>

            <label>#{titles['entity.organization.bankinfo.inn']} </label>
            <h:inputText id="orgBankInfoInn" value="#{cc.attrs.organization.bankinfo.inn}"/>
            <h:message for="orgBankInfoInn"/>

            <label>#{titles['entity.organization.bankinfo.ks']} </label>
            <h:inputText id="orgBankInfoKs" value="#{cc.attrs.organization.bankinfo.ks}"/>
            <h:message for="orgBankInfoKs"/>

            <label>#{titles['entity.organization.bankinfo.ogrn']} </label>
            <h:inputText id="orgBankInfoOgrn" value="#{cc.attrs.organization.bankinfo.ogrn}"/>
            <h:message for="orgBankInfoOgrn"/>

            <label>#{titles['entity.organization.bankinfo.bik']} </label>
            <h:inputText id="orgBankInfoBik" value="#{cc.attrs.organization.bankinfo.bik}"/>
            <h:message for="orgBankInfoBik"/>
        </h:panelGrid>
    </composite:implementation>

</ui:composition>
