<ui:composition xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="layout.xhtml"
        >
    <ui:define name="content">
        <label>#{titles['car.count']}: #{carsController.count}</label>
        <br/>
        <h:link value="#{titles['button.create']}" outcome="createCar"/>
        <br/>
        <h:dataTable value="#{carsController.all}" var="car"
                     styleClass="tabl" headerClass="header"
                     rowClasses="tab_row_even, tab_row_odd"
                     columnClasses="col_name, col_second, col_fiction, col_edit, col_delete"
                >

            <h:column>
                <f:facet name="header">#{titles['entity.car.brand']}</f:facet>
                #{car.carBrand}
            </h:column>

            <h:column>
                <f:facet name="header">#{titles['entity.car.number']}</f:facet>
                #{car.number}
            </h:column>

            <h:column>
                <f:facet name="header"></f:facet>
            </h:column>

            <h:column>
                <h:form>
                    <h:commandLink value="#{titles['button.edit']}" action="#{carsController.edit(car.id)}"/>
                </h:form>
            </h:column>

            <h:column>
                <h:form>
                    <h:commandLink value="#{titles['button.delete']}" action="#{carsController.delete(car.id)}"/>
                </h:form>
            </h:column>

        </h:dataTable>


    </ui:define>
</ui:composition>

