<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        >

    <h:panelGrid columns="3"
                 styleClass="png_details"
                 columnClasses="pngCol_lable, pngCol_input, pngCol_errors"
            >

        <label>#{titles['entity.car.brand']}: </label>
        <h:inputText id="carBrand" value="#{carController.currentCar.carBrand}"/>
        <h:message for="carBrand"/>

        <label>#{titles['entity.car.number']}: </label>
        <h:inputText id="curNumber" value="#{carController.currentCar.number}"/>
        <h:message for="curNumber"/>

        <label>#{titles['entity.car.tailerNumber']}: </label>
        <h:inputText id="carTrailerNumber" value="#{carController.currentCar.trailerNumber}"/>
        <h:message for="carTrailerNumber"/>

        <label>#{titles['entity.car.techInspect']}: </label>
        <h:inputText id="carThechInspect" value="#{carController.currentCar.techInspect}"/>
        <h:message for="carThechInspect"/>

        <label>#{titles['entity.car.type']}: </label>
        <h:inputText id="carType" value="#{carController.currentCar.type}"/>
        <h:message for="carType"/>

        <label>#{titles['entity.car.tonnage']}: </label>
        <h:inputText id="carTonnage" value="#{carController.currentCar.tonnage}"/>
        <h:message for="carTonnage"/>

        <label>#{titles['entity.car.capacity']}: </label>
        <h:inputText id="carCapacity" value="#{carController.currentCar.capacity}"/>
        <h:message for="carCapacity"/>

        <label>#{titles['entity.car.volume']}: </label>
        <h:inputText id="carVolume" value="#{carController.currentCar.volume}"/>
        <h:message for="carVolume"/>

        <label>#{titles['entity.car.comment']}: </label>
        <h:inputTextarea id="carComment" value="#{carController.currentCar.comment}"/>
        <h:message for="carComment"/>

    </h:panelGrid>

</ui:composition>
