<ui:composition xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="layout.xhtml"
        >
    <ui:define name="content">
        <label>#{titles['contragent.count']} #{contragentsController.contragentsCount}</label>
        <br/>
        <h:link value="#{titles['button.create']}" outcome="createContragent"/>
        <br/>
        <h:dataTable value="#{contragentsController.allContragents}" var="contragent"
                     styleClass="tabl" headerClass="header"
                     rowClasses="tab_row_even, tab_row_odd"
                     columnClasses="col_name, col_second, col_fiction, col_edit, col_delete"
                >

            <h:column>
                <f:facet name="header">#{titles['entity.organization.name']}</f:facet>
                #{contragent.name}
            </h:column>

            <h:column>
                <f:facet name="header">#{titles['entity.organization.phoneNumber']}</f:facet>
                #{contragent.phoneNumber}
            </h:column>

            <h:column>
                <f:facet name="header"></f:facet>
            </h:column>

            <h:column>
                <h:form>
                    <h:commandLink value="#{titles['button.edit']}"
                                   action="#{contragentsController.editContragent(contragent.id)}"/>
                </h:form>
            </h:column>

            <h:column>
                <h:form>
                    <h:commandLink value="#{titles['button.delete']}"
                                   action="#{contragentsController.deleteContragent(contragent.id)}"/>
                </h:form>
            </h:column>

        </h:dataTable>

    </ui:define>
</ui:composition>

