<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        template="layout.xhtml"
        >
    <ui:define name="metadata">
        <f:metadata>
            <f:viewParam name="id" value="#{organizationController.currentContragent.id}"/>
            <f:event type="preRenderView" listener="#{organizationController.init}"/>
        </f:metadata>
    </ui:define>
    <ui:define name="content">
        <h:form styleClass="form_details">
            <label class="title_view">#{titles['createUnloadingAddress.title']}</label>
            <ui:include src="locationView.xhtml"/>
            <h:commandLink value="#{titles['button.create']}"
                           action="#{organizationController.addUnloadingAddress(locationController.currentLocation)}"/>
        </h:form>
    </ui:define>
</ui:composition>
