<ui:composition xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="layout.xhtml"
        >
    <ui:define name="content">
        <h:form styleClass="form_details">
            <label class="title_view">#{titles['createCustomer.title']}</label>
            <ui:include src="customerView.xhtml"/>
            <h:commandLink value="#{titles['button.create']}"
                           action="#{customerController.doCreate}"/>
        </h:form>
    </ui:define>
</ui:composition>