<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        template="layout.xhtml"
        >
    <ui:define name="content">
        <h:form styleClass="form_details">
            <label class="title_view">#{titles['transporterCreate.title']}</label>
            <ui:include src="transporterView.xhtml"/>
            <h:commandLink value="#{titles['button.create']}"
                           action="#{transporterController.doCreate}"/>
        </h:form>
    </ui:define>
</ui:composition>