<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        template="layout.xhtml"
        >
    <ui:define name="meta">
        <f:metadata>
            <f:viewParam name="customerId" value="#{routeController.customerId}"/>
        </f:metadata>
    </ui:define>
    <ui:define name="content">
        <h:form styleClass="form_details">
            <label class="title_view">#{titles['createRoute.title']}</label>
            <ui:include src="routeView.xhtml"/>
            <h:commandLink value="#{titles['button.create']}"
                           action="#{routeController.create}"/>
        </h:form>
    </ui:define>
</ui:composition>