<ui:composition xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="layout.xhtml"
        >
    <f:metadata>
        <f:viewParam name="id" value="#{customerController.current.id}"/>
        <f:viewAction action="#{customerController.init}"/>
    </f:metadata>

    <ui:define name="content">
        <h:form>
            <h:commandLink value="#{titles['button.create']}" action="#{customerController.toCreateRoute}"/>
        </h:form>
        <br/>
        <h:dataTable value="#{customerController.routes}" var="route"
                     styleClass="tabl" headerClass="header"
                     rowClasses="tab_row_even, tab_row_odd"
                     columnClasses="col_name, col_second, col_name, col_fiction, col_edit, col_delete"
                >

            <h:column>
                <f:facet name="header">#{titles['entity.route.loadingAddress']}</f:facet>
                #{route.loadingAddress.fullAddress}
            </h:column>

            <h:column>
                <f:facet name="header">#{titles['entity.route.unloadingAddress']}</f:facet>
                #{route.unloadingAddress.fullAddress}
            </h:column>

            <h:column>
                <f:facet name="header">#{titles['entity.route.name']}</f:facet>
                #{route.name}
            </h:column>

            <h:column>
                <f:facet name="header"></f:facet>
            </h:column>

            <h:column>
                <h:form>
                    <h:commandLink value="#{titles['button.edit']}"
                                   action="#{customerController.toEditRoute(route.id)}"/>
                </h:form>
            </h:column>

            <h:column>
                <h:form>
                    <h:commandLink value="#{titles['button.delete']}"
                                   action="#{routeController.removeRoute(customerController.current.id, route.id)}"/>
                </h:form>
            </h:column>

        </h:dataTable>
    </ui:define>
</ui:composition>