<ui:composition xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="layout.xhtml"
        >
    <ui:define name="content">
        <label>#{titles['drivers.count']} #{driversController.driversCount}</label>
        <br/>

        <h:link value="#{titles['button.create']}" outcome="createDriver"/>
        <br/>

        <h:dataTable value="#{driversController.allDrivers}" var="drv"
                     styleClass="tabl" headerClass="header"
                     rowClasses="tab_row_even, tab_row_odd"
                     columnClasses="col_name, col_second, col_fiction, col_edit, col_delete"
                >

            <h:column>
                <f:facet name="header">#{titles['entity.driver.name']}</f:facet>
                #{drv.name}
            </h:column>

            <h:column>
                <f:facet name="header">#{titles['entity.driver.licence']}</f:facet>
                #{drv.driverLicense}
            </h:column>

            <h:column>
                <f:facet name="header"></f:facet>
            </h:column>

            <h:column>
                <h:form>
                    <h:commandLink value="#{titles['button.edit']}" action="#{driversController.editDriver(drv.id)}"/>
                </h:form>
            </h:column>

            <h:column>
                <h:form>
                    <h:commandLink value="#{titles['button.delete']}"
                                   action="#{driversController.deleteDriver(drv.id)}"/>
                </h:form>
            </h:column>

        </h:dataTable>
    </ui:define>
</ui:composition>

