<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        >

    <h:panelGrid columns="3"
                 styleClass="png_details"
                 columnClasses="pngCol_lable, pngCol_input, pngCol_errors"
            >

        <label>#{titles['entity.driver.name']}: </label>
        <h:inputText id="drvName" value="#{driverController.currentDriver.name}"/>
        <h:message for="drvName"/>

        <label>#{titles['entity.driver.licence']}: </label>
        <h:inputText id="drvLicense" value="#{driverController.currentDriver.driverLicense}"/>
        <h:message for="drvLicense"/>

        <label>#{titles['entity.driver.phone']}: </label>
        <h:inputText id="drvPhoneNumber" value="#{driverController.currentDriver.phoneNumber}"/>
        <h:message for="drvPhoneNumber"/>

        <label>#{titles['entity.driver.passport']}: </label>
        <h:inputTextarea id="drvPassportDetails" value="#{driverController.currentDriver.passportDetails}"/>
        <h:message for="drvPassportDetails"/>


        <label>#{titles['entity.driver.realAddress']}: </label>
        <h:inputText id="drvRealAddrStreet" value="#{driverController.currentDriver.realAdress.fullAddress}"/>
        <h:message for="drvRealAddrStreet"/>


        <label>#{titles['entity.driver.regAddress']}: </label>
        <h:inputText id="drvRegAddrStreet" value="#{driverController.currentDriver.registrationAdress.fullAddress}"/>
        <h:message for="drvRegAddrStreet"/>

    </h:panelGrid>

</ui:composition>
