<ui:composition xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="layout.xhtml"
        >
    <ui:define name="meta">
        <f:metadata>
            <f:viewParam name="customerId" value="#{routeController.customerId}"/>
            <f:viewParam name="id" value="#{routeController.current.id}"/>
            <f:viewAction action="#{routeController.init}"/>
        </f:metadata>
    </ui:define>
    <ui:define name="content">
        <h:form styleClass="form_details">
            <label class="title_view">#{titles['editRoute.title']}</label>
            <ui:include src="routeView.xhtml"/>
            <h:commandLink value="#{titles['button.save']}" action="#{routeController.update}"/>
        </h:form>
    </ui:define>
</ui:composition>