<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        template="layout.xhtml"
        >

    <ui:define name="metadata">
        <f:metadata>
            <f:viewParam name="id" value="#{organizationController.currentContragent.id}"/>
            <f:event type="preRenderView" listener="#{organizationController.init}"/>
        </f:metadata>
    </ui:define>
    <ui:define name="content">
        <h:form styleClass="form_details">
            <label class="title_view">#{titles['contragentEdit.title']}</label>
            <ui:include src="organizationView.xhtml"/>
            <br/>
            <h:commandLink value="#{titles['button.addSanction']}"
                           action="#{organizationController.contragentSanctions(organizationController.currentContragent.id)}"/>

            <h:commandLink value="#{titles['button.save']}"
                           action="#{organizationController.update}"/>
            <h:commandLink value="#{titles['contragentEdit.unloadingAddresses']}"
                           action="#{organizationController.toUnloadingAddresses()}"/>

        </h:form>
    </ui:define>
</ui:composition>