<ui:composition xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="layout.xhtml"
        >
    <ui:define name="metadata">
        <f:metadata>
            <f:viewParam name="id" value="#{customerController.current.id}"/>
            <f:viewAction action="#{customerController.init}"/>
        </f:metadata>
    </ui:define>
    <ui:define name="content">
        <h:form styleClass="form_details">
            <label class="title_view">#{titles['editCustomer.title']}</label>
            <ui:include src="customerView.xhtml"/>
            <br/>
            <h:commandLink value="#{titles['button.addSanction']}"
                           action="#{customerController.toSanctions}"/>

            <h:commandLink value="#{titles['button.routes']}"
                           action="#{customerController.toRoutes}"/>

            <h:commandLink value="#{titles['button.save']}"
                           action="#{customerController.update}"/>
        </h:form>
    </ui:define>
</ui:composition>