<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        template="layout.xhtml"
        >

    <ui:define name="content">
        <label class="main_title_text">#{titles['index.label']}</label>
    </ui:define>

</ui:composition>
