<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

<ui:debug/>
<ui:insert name="meta"/>

<h:head>
    <h:outputStylesheet name="stylesheet.css"/>
    <title>Transmanager</title>
</h:head>
<h:body>

    <div id="menu">
        <ui:include src="menu.xhtml"/>
    </div>
    <div id="content">
        <ui:insert name="content"/>
    </div>

</h:body>
</html>