<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        >

    <h:panelGrid columns="3"
                 styleClass="png_details"
                 columnClasses="pngCol_lable, pngCol_input, pngCol_errors"
            >
        <h:outputLabel value="#{titles['entity.location.fullAddress']}"/>
        <h:inputTextarea id="fullAddress" value="#{locationController.currentLocation.fullAddress}"/>
        <h:message for="fullAddress"/>

    </h:panelGrid>

</ui:composition>
