<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        >

    <div class="menu_div">

        <ul>
            <li id="activ"><h:link outcome="index">#{titles['menu.home']}</h:link></li>
            <li><h:link outcome="drivers">#{titles['menu.driverd']}</h:link></li>
            <li><h:link outcome="cars">#{titles['menu.cars']}</h:link></li>
            <li><h:link outcome="customers">#{titles['menu.customers']}</h:link></li>
            <li><h:link outcome="transporters">#{titles['menu.tranporters']}</h:link></li>
            <li><h:link outcome="requests">#{titles['menu.requests']}</h:link></li>
            <li><h:link outcome="sanctions">#{titles['menu.sanctions']}</h:link></li>
        </ul>

    </div>

</ui:composition>
