<ui:composition xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="layout.xhtml"
        >
    <ui:define name="metadata">
        <f:metadata>
            <f:viewParam name="id" value="#{organizationController.current.id}"/>
            <f:viewAction action="#{organizationController.init}"/>
        </f:metadata>
    </ui:define>

    <ui:define name="content">
        <h:dataTable value="#{organizationController.sanctions}" var="sanct"
                     styleClass="tabl" headerClass="header"
                     rowClasses="tab_row_even, tab_row_odd"
                     columnClasses="col_name, col_fiction, col_delete"
                >
            <h:column>
                <f:facet name="header">#{titles['entity.sanctionText']}</f:facet>
                #{sanct.sanctionText}
            </h:column>
            <h:column>
                <f:facet name="header"></f:facet>
            </h:column>
            <h:column>
                <h:form>
                    <h:commandLink value="#{titles['button.delete']}"
                                   action="#{organizationController.removeSanction(sanct.id)}">

                    </h:commandLink>
                </h:form>
            </h:column>
        </h:dataTable>
        <h:form styleClass="form_details">
            <label class="title_view">#{titles['sanctionCreate.title']}</label>
            <h:selectOneMenu value="#{sanctionController.currentSanction.id}">
                <f:selectItems value="#{sanctionsController.all}" var="sanct"
                               itemLabel="#{sanct.sanctionText}" itemValue="#{sanct.id}"/>
            </h:selectOneMenu>
            <h:commandLink value="#{titles['button.add']}"
                           action="#{organizationController.addSanction(sanctionController.currentSanction.id)}"/>
        </h:form>
        <br/>
    </ui:define>
</ui:composition>

