<ui:composition xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="layout.xhtml"
        >
    <ui:define name="content">
        <label>#{titles['requests.count']}: #{requestsController.count}</label>
        <br/>

        <h:link value="#{titles['button.create']}" outcome="createRequest"/>

        <h:dataTable value="#{requestsController.all}" var="rqv"
                     styleClass="tabl" headerClass="header"
                     rowClasses="tab_row_even, tab_row_odd"
                     columnClasses="col_name, col_fiction, col_edit, col_delete"
                >

            <h:column>
                <f:facet name="header">#{titles['entity.request.number']}</f:facet>
                #{rqv.number}
            </h:column>

            <h:column>
                <f:facet name="header"></f:facet>
            </h:column>

            <h:column>
                <h:form>
                    <h:commandLink value="#{titles['button.edit']}" action="#{requestsController.editRequest(rqv.id)}"/>
                </h:form>
            </h:column>

            <h:column>
                <h:form>
                    <h:commandLink value="#{titles['button.delete']}"
                                   action="#{requestsController.deleteRequest(rqv.id)}"/>
                </h:form>
            </h:column>

            <h:column>
                <h:form>
                    <h:commandLink value="#{titles['requests.downloadDoc']}"
                                   action="#{requestsController.downloadDocument(rqv.id)}"/>
                </h:form>
            </h:column>

        </h:dataTable>
    </ui:define>
</ui:composition>

