<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        >

    <h:panelGrid columns="3"
                 styleClass="png_details"
                 columnClasses="pngCol_lable, pngCol_input, pngCol_errors"
            >

        <label>#{titles['entity.request.number']}: </label>
        <h:inputText id="rqvNumber" value="#{requestController.current.number}"/>
        <h:message for="rqvNumber"/>

        <label>#{titles['entity.request.currenDate']}: </label>
        <h:inputText id="rqvCurrntDate" value="#{requestController.current.currentDate.time}">
            <f:convertDateTime pattern="dd.MM.yyyy HH:mm"/>
        </h:inputText>
        <h:message for="rqvCurrntDate"/>

        <label>#{titles['entity.request.cost']}: </label>
        <h:inputText id="cost" value="#{requestController.current.cost}"/>
        <h:message for="cost"/>

        <label>#{titles['entity.request.responsiblePersonName']}: </label>
        <h:inputText id="responsiblePersonName" value="#{requestController.current.responsiblePersonName}"/>
        <h:message for="responsiblePersonName"/>

        <label>#{titles['entity.request.responsiblePersonPhone']}: </label>
        <h:inputText id="responsiblePersonPhone" value="#{requestController.current.responsiblePersonPhone}"/>
        <h:message for="responsiblePersonPhone"/>

        <label>#{titles['entity.request.loadingTime']}: </label>
        <h:inputText id="loadingTime" value="#{requestController.current.loadingTime.time}">
            <f:convertDateTime pattern="dd.MM.yyyy HH:mm"/>
        </h:inputText>
        <h:message for="loadingTime"/>

        <label>#{titles['entity.request.unloadingTime']}: </label>
        <h:inputText id="unloadingTime" value="#{requestController.current.unloadingTime.time}">
            <f:convertDateTime pattern="dd.MM.yyyy HH:mm"/>
        </h:inputText>
        <h:message for="unloadingTime"/>

        <label>#{titles['entity.request.driver']}</label>
        <h:selectOneMenu id="drv" value="#{requestController.current.driverId}">
            <f:selectItem itemLabel="  " noSelectionOption="true"/>
            <f:selectItems value="#{driversController.allDrivers}" var="drv" itemLabel="#{drv.name}"
                           itemValue="#{drv.id}"/>
        </h:selectOneMenu>
        <h:message for="drv"/>

        <label>#{titles['entity.request.car']}</label>
        <h:selectOneMenu id="car" value="#{requestController.current.carId}">
            <f:selectItem itemLabel="  " noSelectionOption="true"/>
            <f:selectItems value="#{carsController.all}" var="car"
                           itemLabel="#{car.carBrand} #{car.number}" itemValue="#{car.id}"/>
        </h:selectOneMenu>
        <h:message for="car"/>

        <label>#{titles['entity.request.performer']}</label>
        <h:selectOneMenu id="performer" value="#{requestController.current.performerId}">
            <f:selectItem itemLabel="  " noSelectionOption="true"/>
            <f:selectItems value="#{transportersController.all}" var="performer"
                           itemLabel="#{performer.org.name}" itemValue="#{performer.id}"/>
        </h:selectOneMenu>
        <h:message for="performer"/>

        <label>#{titles['entity.request.customer']}</label>
        <h:selectOneMenu id="customer" value="#{requestController.current.customerId}">
            <f:selectItem itemLabel="  " noSelectionOption="true"/>
            <f:selectItems value="#{customersController.all}" var="customer"
                           itemLabel="#{customer.org.name}" itemValue="#{customer.id}"/>
            <f:ajax execute="@form" render="@form" event="valueChange"/>
        </h:selectOneMenu>
        <h:message for="customer"/>

        <label>#{titles['entity.request.route']}</label>
        <h:selectOneMenu id="requestRoute" value="#{requestController.current.routeId}">
            <f:selectItem itemValue="  " noSelectionOption="true"/>
            <f:selectItems value="#{customerController.getRoutes(requestController.current.customerId)}" var="r"
                    itemValue="#{r.id}" itemLabel="#{r.name}"/>
        </h:selectOneMenu>
        <h:message for="requestRoute"/>

        <label>#{titles['entity.request.shipper']}</label>
        <h:selectOneMenu id="shipper" value="#{requestController.current.shipperId}">
            <f:selectItem itemLabel="  " noSelectionOption="true"/>
            <f:selectItems value="#{customersController.all}" var="shipper"
                           itemLabel="#{shipper.org.name}" itemValue="#{shipper.id}"/>
        </h:selectOneMenu>
        <h:message for="shipper"/>

    </h:panelGrid>

</ui:composition>
