<ui:composition xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        >
    <h:panelGrid columns="3"
                 styleClass="png_details"
                 columnClasses="pngCol_lable, pngCol_input, pngCol_errors"
            >

        <label>#{titles['entity.route.name']}: </label>
        <h:inputText id="name" value="#{routeController.current.name}"/>
        <h:message for="name"/>

        <label>#{titles['entity.route.loadingAddress']}: </label>
        <h:inputTextarea id="loadingAddressr" value="#{routeController.current.loadingAddress.fullAddress}"/>
        <h:message for="loadingAddressr"/>


        <label>#{titles['entity.route.unloadingAddress']}: </label>
        <h:inputTextarea id="unloadingAddress" value="#{routeController.current.unloadingAddress.fullAddress}"/>
        <h:message for="unloadingAddress"/>

    </h:panelGrid>
</ui:composition>