<ui:composition xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="layout.xhtml"
        >
    <ui:define name="content">
        <label>#{titles['sanctions.count']} #{sanctionsController.count}</label>
        <br/>
        <h:link value="#{titles['button.create']}" outcome="createSanction"/>
        <br/>
        <h:dataTable value="#{sanctionsController.all}" var="sanc"
                     styleClass="tabl" headerClass="header"
                     rowClasses="tab_row_even, tab_row_odd"
                     columnClasses="col_name, col_fiction, col_edit, col_delete"
                >

            <h:column>
                <f:facet name="header">#{titles['entity.sanctionText']}</f:facet>
                #{sanc.sanctionText}
            </h:column>

            <h:column>
                <f:facet name="header"></f:facet>
            </h:column>

            <h:column>
                <h:form>
                    <h:commandLink value="#{titles['button.edit']}"
                                   action="#{sanctionsController.edit(sanc.id)}"/>
                </h:form>
            </h:column>

            <h:column>
                <h:form>
                    <h:commandLink value="#{titles['button.delete']}"
                                   action="#{sanctionsController.delete(sanc.id)}"/>
                </h:form>
            </h:column>

        </h:dataTable>
    </ui:define>
</ui:composition>

