<ui:composition xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="layout.xhtml"
        >
    <ui:define name="content">
        <label>#{titles['transporters.count']} #{transportersController.count}</label>
        <br/>
        <h:link value="#{titles['button.create']}" outcome="createTransporter"/>
        <br/>
        <h:dataTable value="#{transportersController.all}" var="transporter"
                     styleClass="tabl" headerClass="header"
                     rowClasses="tab_row_even, tab_row_odd"
                     columnClasses="col_name, col_second, col_fiction, col_edit, col_delete"
                >

            <h:column>
                <f:facet name="header">#{titles['entity.organization.name']}</f:facet>
                #{transporter.org.name}
            </h:column>

            <h:column>
                <f:facet name="header">#{titles['entity.organization.phoneNumber']}</f:facet>
                #{transporter.org.phoneNumber}
            </h:column>

            <h:column>
                <f:facet name="header"></f:facet>
            </h:column>

            <h:column>
                <h:form>
                    <h:commandLink value="#{titles['button.edit']}"
                                   action="#{transportersController.edit(transporter.id)}"/>
                </h:form>
            </h:column>

            <h:column>
                <h:form>
                    <h:commandLink value="#{titles['button.delete']}"
                                   action="#{transportersController.delete(transporter.id)}"/>
                </h:form>
            </h:column>

        </h:dataTable>
    </ui:define>
</ui:composition>