<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        >

    <h:panelGrid columns="3"
                 styleClass="png_details"
                 columnClasses="pngCol_lable, pngCol_input, pngCol_errors"
            >

        <label>#{titles['entity.organization.name']}: </label>
        <h:inputText id="transporterName" value="#{transporterController.currentTransporter.org.name}"/>
        <h:message for="transporterName"/>

        <label>#{titles['entity.organization.phoneNumber']} </label>
        <h:inputText id="transporterPhoneNumber" value="#{transporterController.currentTransporter.org.phoneNumber}"/>
        <h:message for="transporterPhoneNumber"/>

        <label>#{titles['entity.organization.director']} </label>
        <h:inputText id="transporterPhoneDirector" value="#{transporterController.currentTransporter.org.director}"/>
        <h:message for="transporterPhoneDirector"/>

        <label>#{titles['entity.organization.contactName']} </label>
        <h:inputText id="transporterPhoneContactName" value="#{transporterController.currentTransporter.org.contactName}"/>
        <h:message for="transporterPhoneContactName"/>

        <label>#{titles['entity.organization.juridAddress']} </label>
        <h:inputText id="transporterPhoneJuridAddress"
                     value="#{transporterController.currentTransporter.org.juridAddress.fullAddress}"/>
        <h:message for="transporterPhoneJuridAddress"/>

        <label>#{titles['entity.organization.postalAddress']} </label>
        <h:inputText id="transporterPhonePostalAddress"
                     value="#{transporterController.currentTransporter.org.postalAddress.fullAddress}"/>
        <h:message for="transporterPhonePostalAddress"/>

        <label>#{titles['entity.organization.email']} </label>
        <h:inputText id="transporterPhoneEmail" value="#{transporterController.currentTransporter.org.email}"/>
        <h:message for="transporterPhoneEmail"/>

        <label>#{titles['entity.organization.webSite']} </label>
        <h:inputText id="transporterWebSite" value="#{transporterController.currentTransporter.org.webSite}"/>
        <h:message for="transporterWebSite"/>

        <label>#{titles['entity.organization.bankinfo.name']} </label>
        <h:inputText id="transporterBankInfoName" value="#{transporterController.currentTransporter.org.bankinfo.name}"/>
        <h:message for="transporterBankInfoName"/>

        <label>#{titles['entity.organization.bankinfo.rs']} </label>
        <h:inputText id="transporterBankInfoRs" value="#{transporterController.currentTransporter.org.bankinfo.rs}"/>
        <h:message for="transporterBankInfoRs"/>

        <label>#{titles['entity.organization.bankinfo.inn']} </label>
        <h:inputText id="transporterBankInfoInn" value="#{transporterController.currentTransporter.org.bankinfo.inn}"/>
        <h:message for="transporterBankInfoInn"/>

        <label>#{titles['entity.organization.bankinfo.ks']} </label>
        <h:inputText id="transporterBankInfoKs" value="#{transporterController.currentTransporter.org.bankinfo.ks}"/>
        <h:message for="transporterBankInfoKs"/>

        <label>#{titles['entity.organization.bankinfo.ogrn']} </label>
        <h:inputText id="transporterBankInfoOgrn" value="#{transporterController.currentTransporter.org.bankinfo.ogrn}"/>
        <h:message for="transporterBankInfoOgrn"/>

        <label>#{titles['entity.organization.bankinfo.bik']} </label>
        <h:inputText id="transporterBankInfoBik" value="#{transporterController.currentTransporter.org.bankinfo.bik}"/>
        <h:message for="transporterBankInfoBik"/>

    </h:panelGrid>

</ui:composition>
