<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        template="layout.xhtml"
        >

    <ui:define name="metadata">
        <f:metadata>
            <f:viewParam name="id" value="#{organizationController.currentContragent.id}"/>
            <f:event type="preRenderView" listener="#{organizationController.init}"/>
        </f:metadata>
    </ui:define>
    <ui:define name="content">

        <h:form>
            <h:commandLink value="#{titles['button.create']}"
                           action="#{organizationController.toCreateUnloadingAddress()}"/>
        </h:form>
        <h:form>
            <h:dataTable value="#{organizationController.unloadingAddresses}" var="addr"
                         styleClass="tabl" headerClass="header"
                         rowClasses="tab_row_even, tab_row_odd"
                         columnClasses="col_name, col_fiction, col_edit, col_delete"
                    >
                <h:column>
                    <f:facet name="header">#{titles['entity.location.fullAddress']}</f:facet>
                    #{addr.fullAddress}
                </h:column>

                <h:column>

                </h:column>

                <h:column>
                    <h:link value="#{titles['button.edit']}"
                            outcome="#{organizationController.toEditUnloadingAddress(addr.id)}"/>
                </h:column>

                <h:column>
                    <h:commandLink value="#{titles['button.delete']}"
                                   action="#{organizationController.removeUnloadingAddress(addr.id)}">
                        <f:param name="id" value="#{organizationController.currentContragent.id}"/>
                    </h:commandLink>
                </h:column>

            </h:dataTable>
        </h:form>
    </ui:define>
</ui:composition>
